<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229073281380-pb8tr2a0aoad57c3ibb4l1ae2qv484ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229073281380-pb8tr2a0aoad57c3ibb4l1ae2qv484ib</string>
	<key>API_KEY</key>
	<string>AIzaSyAswTBSkDpJmiklyauPhd_kowtOvtiXvJw</string>
	<key>GCM_SENDER_ID</key>
	<string>229073281380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taqeem.app</string>
	<key>PROJECT_ID</key>
	<string>taqeem-c12fa</string>
	<key>STORAGE_BUCKET</key>
	<string>taqeem-c12fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229073281380:ios:9ac4c71ee67652df8f5a71</string>
	<key>DATABASE_URL</key>
	<string>https://taqeem-c12fa.firebaseio.com</string>
</dict>
</plist>